*{font-family:Yusei Magic, sans-serif;}

h1 {
	color: black;
}

img 
{
	width: 10%;
}
.icon
{
	display: flex;
	margin: auto;
	width: 15%;
	margin-bottom: 30px;
	max-width: 100%;
	max-height: 100%;
}

.lapin-icon
{
	display: flex;
	margin:auto;
	width: 20%;
	max-width: 100%;
	max-height: 100%;
}

.pres
{
	background-image: url("../img/pic03.jpg");
	background-size: 100%;
	display: flex; 
	align-items: flex-end;
}

.line-container
{
	display: flex;
	padding: 0 1%;
	background-color: lightgray;
}

.item
{
	flex: 1;
	margin: 0 1%;
}

.item-lapin
{
	flex: 1;
	margin: 0 1%;
}

.banner 
{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/soap.jpg");
	color: white;
	text-align: center;
	height: 80vh;
	background-size: cover !important;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	position: relative;
}

.footer
{
	display: flex;
	justify-content : center; justify-content : space-around
	center;
}
